// @import 'styles/scaffold';

.ImageGrid {
  display: block;
}

.ImageGrid__container {
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.ImageGrid__image {
  border-radius: 1rem;
  display: block;
  height: auto;
  margin-bottom: 1rem;
  overflow: hidden;
  width: 100%;

  img {
    height: auto;
    width: 100%;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.ImageGrid__caption {
  display: block;
  font-size: $font-size-sm;
  text-align: center;
}
