// @import 'styles/scaffold';

.Card {
  border-radius: 1rem;
  cursor: pointer;
  overflow: hidden;
  padding: 2rem;
  position: relative;
  transition: box-shadow $transition-base;
  width: 100%;
  will-change: box-shadow;
  z-index: 1;

  &::before {
    content: '';
    float: left;
    height: 0;
    margin-left: -0.0625rem;
    padding-top: 450px / 546px * 100%;
    width: 0.0625rem;
  }

  &::after {
    clear: both;
    content: '';
    display: table;
  }

  &:hover {
    box-shadow: 0 0.875rem 2.5rem -1.25rem rgba($primary-dark, 0.75);

    .Card__background {
      &::after {
        opacity: 0.8;
      }
    }

    .Card__client,
    .Card__title {
      color: $white;
      text-shadow: none;
    }

    .Card__body {
      @include media-breakpoint-up(sm) {
        opacity: 0.8;
        transform: translateY(0);
      }
    }

    .Card__tags {
      transform: translateY(-50%);
      transition-delay: 0s;
      opacity: 0;
    }

    .Card__moreText {
      transform: translateY(0);
      transition-delay: 0.3s;
      opacity: 1;
    }
  }
}

.Card__header {
  margin-bottom: 4rem;

  @include media-breakpoint-up(sm) {
    margin-bottom: 1.5rem;
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 2rem;
  }
}

.Card__client {
  display: block;
  color: $light;
  font-weight: $font-weight-light;
  margin-bottom: 0.25rem;
  transition: color $transition-base;
}

.Card__title {
  color: $light;
  font-weight: $font-weight-bold;
  margin: 0;
  text-shadow: 0.125rem 0.125rem 0.75rem rgba($dark, 0.6);
  transition: color $transition-base, text-shadow $transition-base;
  width: 100%;
}

.Card__body {
  color: $white;
  display: none;
  opacity: 0;
  transform: translateY(0.5rem);
  transition: opacity $transition-base, transform $transition-base;
  width: 90%;
  will-change: transform;

  @include media-breakpoint-up(sm) {
    display: block;
    margin-bottom: 6rem;
  }

  @include media-breakpoint-up(xl) {
    margin-bottom: 7rem;
  }
}

.Card__footer {
  bottom: 2rem;
  left: 2rem;
  margin-top: auto;
  position: absolute;
  width: calc(100% - 4rem);
}

.Card__tags {
  align-items: baseline;
  display: flex;
  list-style: none;
  margin: 0;
  opacity: 1;
  padding: 0;
  transform: translateY(0);
  transition: opacity $transition-base, transform $transition-base;
  transition-delay: 0.3s;
  will-change: transform;
}

.Card__tag {
  color: $light;
  font-weight: $font-weight-light;
  margin-right: 1.5rem;

  &:last-child {
    margin-right: 0;
  }
}

.Card__moreText {
  align-items: baseline;
  border-bottom: 0.0625rem solid $white;
  bottom: 0;
  color: $white;
  display: inline-flex;
  font-weight: $font-weight-light;
  height: auto;
  left: 0;
  position: absolute;
  opacity: 0;
  transform: translateY(50%);
  transition: opacity $transition-base, transform $transition-base;
  transition-delay: 0s;
  will-change: transform;
  z-index: 1;

  .icon {
    padding-left: 0.5rem;
  }
}

.Card__background {
  border-radius: 1rem;
  height: 100%;
  left: 0;
  overflow: hidden;
  padding-top: 450px / 545.5px * 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;

  &::before {
    background: linear-gradient(to bottom, rgba($dark, 0.75), transparent);
    content: '';
    height: 50%;
    left: 0;
    position: absolute;
    top: 0;
    transition: opacity $transition-base;
    width: 100%;
    z-index: 1;
  }

  &::after {
    background: $gradient-primary;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity $transition-base;
    width: 100%;
    z-index: 1;
  }

  img {
    height: auto;
    width: 100%;
  }
}

.Card__backgroundImage {
  backface-visibility: hidden;
  display: flex;
  height: 100%;
  left: 0;
  width: 100%;
  position: absolute;
  top: 0;
  will-change: transform;

  img {
    height: auto;
    object-fit: cover;
    width: 100%;
  }
}
