{
  "extends": [
    "stylelint-config-standard",
    "stylelint-prettier/recommended"
  ],
  "plugins": ["stylelint-scss"],
  "fix": true,
  "formatter": "verbose",
  "syntax": "scss",
  "rules": {
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": ["function", "if", "each", "include", "mixin"]
    }],
    "at-rule-no-vendor-prefix": true,
    "declaration-no-important": true,
    "font-family-name-quotes": "always-unless-keyword",
    "font-weight-notation": "named-where-possible",
    "function-url-quotes": "always",
    "max-nesting-depth": [3, {
      ignore: ["blockless-at-rules", "pseudo-classes"]
    }],
    "no-descending-specificity": null,
    "media-feature-name-no-vendor-prefix": true,
    "property-no-vendor-prefix": true,
    "selector-attribute-quotes": "always",
    "selector-no-vendor-prefix": true,
    "string-quotes": "single",
    "value-no-vendor-prefix": true
  }
}
