// @import 'styles/scaffold';

.Header {
  min-height: 3.75rem;

  @include media-breakpoint-up(sm) {
    min-height: 4.25rem;
  }

  @include media-breakpoint-up(md) {
    min-height: 4.6875rem;
  }

  @include media-breakpoint-up(lg) {
    min-height: 5.3125rem;
  }

  &.isExpanded {
    @include media-breakpoint-down(lg) {
      .Header__nav___primary {
        .Header__navList {
          opacity: 1;
          pointer-events: auto;
          top: calc(100% + 1rem);
          transform: translate(-50%, 0);
          transition: opacity $transition-base 0.1s,
            transform $transition-base 0.1s, visibility 0s linear 0s;
          visibility: visible;
          z-index: 1;
        }

        .Header__navItem {
          opacity: 1;
          transform: translateY(0);
          transition: opacity $transition-base
              calc(0.4s + (var(--index) * 200ms)),
            transform $transition-base calc(0.4s + (var(--index) * 200ms));
        }
      }

      &.isSticky {
        .Header__inner {
          background: $dark;
        }

        .Header__navToggle {
          /* stylelint-disable max-nesting-depth */
          span {
            background: $primary;
          }

          &:hover {
            span {
              background: $primary-dark;
            }
          }
          /* stylelint-enable max-nesting-depth */
        }
      }
    }
  }

  &.isSticky {
    .Header__inner {
      background: rgba($dark, 0.95);
      box-shadow: 0 1rem 2rem -2rem rgba($dark, 0.4);
      position: fixed;
      top: 0;

      @supports (backdrop-filter: blur()) or (-webkit-backdrop-filter: blur()) {
        background: rgba($dark, 0.85);
      }
    }

    .Header__navToggle {
      span {
        background: $secondary-light;
      }

      &:hover {
        span {
          background: $light;
        }
      }
    }

    .Header__navLink {
      color: $secondary-light;

      &:hover {
        color: $light;
      }

      &.isActive {
        color: $light;

        &:hover {
          color: $light;
        }
      }
    }
  }
}

.Header__inner {
  backdrop-filter: blur(0.5rem);
  /* stylelint-disable property-no-vendor-prefix */
  -webkit-backdrop-filter: blur(0.5rem);
  /* stylelint-enable property-no-vendor-prefix */
  padding: 0.75rem 0;
  position: absolute;
  transition: background $transition-base, box-shadow $transition-base;
  width: 100%;
  z-index: $zindex-sticky;
}

.Header__brand {
  align-items: center;
  display: flex;
  max-width: 1.75rem;
  user-select: none;

  @include media-breakpoint-up(md) {
    max-width: 2.5rem;
  }

  @include media-breakpoint-up(lg) {
    max-width: 3rem;
  }

  .icon {
    height: auto;
    width: 100%;
  }
}

.Header__nav {
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
}

.Header__nav___primary {
  @include media-breakpoint-down(lg) {
    .Header__navList {
      background: $dark;
      border-radius: 1rem;
      box-shadow: 0 1rem 2.5rem -1.25rem $dark;
      display: block;
      left: 50%;
      opacity: 0;
      padding: 2rem 0;
      position: absolute;
      pointer-events: none;
      top: -999vw;
      transform: translate(-50%, 1rem);
      transition: opacity $transition-base, top 0s linear 0.5s,
        transform $transition-base, visibility 0s linear 0.4s;
      width: calc(100% - 2rem);
      visibility: hidden;
      z-index: -1;

      @include media-breakpoint-up(sm) {
        max-width: $container-sm;
      }

      @include media-breakpoint-up(md) {
        max-width: $container-md;
      }
    }

    .Header__navItem {
      margin-bottom: 2rem;
      margin-right: 0;
      opacity: 0;
      text-align: center;
      transform: translateY(1rem);
      transition: opacity $transition-base, transform $transition-base;
      will-change: transform;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .Header__navLink {
      color: $secondary-light;
      display: inline-block;
      font-size: $font-size-lg;

      &:hover {
        color: $light;
      }

      &.isActive {
        color: $light;

        &:hover {
          color: $light;
        }
      }
    }
  }
}

.Header__navToggle {
  display: inline-block;
  height: 1.5rem;
  padding: 0;
  position: relative;
  transform: rotate(0deg);
  width: 1.75rem;

  @include media-breakpoint-up(lg) {
    display: none;
  }

  &:hover {
    span {
      background: $primary-dark;
    }
  }

  &:focus {
    box-shadow: none;
  }

  span {
    background: $secondary;
    border-radius: 1rem;
    display: block;
    height: 0.125rem;
    left: 0;
    opacity: 1;
    position: absolute;
    transform: rotate(0deg) translateY(-50%);
    transition: background $transition-base, transform $transition-base;
    width: 100%;

    &:first-child {
      top: calc(50% - 0.125rem - 0.25rem);
    }

    &:last-child {
      top: calc(50% + 0.375rem);
    }
  }

  &.isActive {
    &:hover {
      span {
        background: $primary-dark;
      }
    }

    span {
      background: $primary;

      &:first-child {
        top: 50%;
        transform: rotate(-45deg) translateY(-50%);
      }

      &:last-child {
        left: -0.0625rem;
        top: 50%;
        transform: rotate(45deg) translateY(-50%);
      }
    }
  }
}

.Header__navList {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0 1.25rem 0 0;
  padding: 0;

  @include media-breakpoint-up(sm) {
    margin-right: 3rem;
  }

  @include media-breakpoint-up(md) {
    margin-right: 3.5rem;
  }

  @include media-breakpoint-up(lg) {
    margin-right: 4rem;
  }

  &:last-child {
    margin-right: 0;
  }
}

.Header__navItem {
  display: block;
  margin-right: 1.25rem;

  @include media-breakpoint-up(sm) {
    margin-right: 1.75rem;
  }

  @include media-breakpoint-up(md) {
    margin-right: 3.5rem;
  }

  @include media-breakpoint-up(lg) {
    margin-right: 4rem;
  }

  &:last-child {
    margin-right: 0;
  }
}

.Header__navLink {
  color: $secondary;
  display: block;
  padding: 0.25rem 0;
  position: relative;
  transition: color $transition-base;

  @include media-breakpoint-up(sm) {
    padding: 0.5rem 0;
  }

  @include media-breakpoint-up(lg) {
    font-size: $font-size-base * 1.125;
  }

  &::before {
    background: none;
    border-radius: 1rem;
    bottom: 0;
    content: '';
    display: block;
    height: 0.25rem;
    left: 50%;
    opacity: 0;
    position: absolute;
    transform: translateX(-50%);
    transition: background $transition-base, opacity $transition-base,
      width $transition-base;
    width: 0;
  }

  &:hover {
    color: $primary-dark;

    &::before {
      background: $secondary-lighter;
      opacity: 0.5;
      width: calc(100% + 0.75rem);
    }
  }

  &.isActive {
    color: $dark;

    &::before {
      background: $gradient-primary;
      opacity: 1;
      width: 100%;
    }

    &:hover {
      color: $dark;

      &::before {
        background: $gradient-primary;
        opacity: 1;
        width: calc(100% + 0.75rem);
      }
    }
  }
}

.Header__navLink___hasIcon {
  &::before {
    display: none;
  }

  svg {
    transition: transform $transition-base;
  }

  &:hover {
    svg {
      transform: scale(1.125);

      // Only subject safari to will-change
      @supports not (offset-path: none) {
        will-change: transform;
      }
    }
  }
}
