// @import 'styles/scaffold';

// Animations
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// Styles
.Work {
  animation: fadeInUp $transition-base forwards;
  animation-delay: 1.8s;
  display: block;
  opacity: 0;
  transform: translateY(1rem);
}

.Work__inner {
  background: $white;
  box-shadow: 0 0.875rem 1.875rem -1.875rem $secondary;
  border-radius: 1rem;
  padding: 2.5rem 0;

  @include media-breakpoint-up(lg) {
    padding: 4rem 0;
  }

  @include media-breakpoint-up(xl) {
    padding: 5rem 0;
  }
}

.Work__header {
  padding: 0 0 2rem;

  @include media-breakpoint-up(lg) {
    margin-bottom: 1rem;
    padding: 0 2rem 1rem 0;
  }

  @include media-breakpoint-up(xl) {
    margin-bottom: 2rem;
  }
}

.Work__description {
  width: 80%;

  @include media-breakpoint-up(lg) {
    width: 90%;
  }
}

.Work__column {
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.Work__item {
  margin-bottom: 1rem;

  @include media-breakpoint-up(md) {
    margin-bottom: 2rem;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
