@import './bootstrap/bootstrap';
@import './fonts';

/* stylelint-disable declaration-no-important */
html {
  // Temporary fix for smooth scroll to top on route change.
  // scroll-behavior: auto !important;
}
/* stylelint-enable declaration-no-important */

// Base
body {
  scroll-behavior: smooth;
  padding: 2rem 0;

  @include media-breakpoint-up(lg) {
    padding: 3rem 0;
  }

  @include media-breakpoint-up(xl) {
    padding: 4rem 0;
  }
}

// Typography
h1,
.h1 {
  letter-spacing: -0.0875rem;
}

h2,
.h2 {
  letter-spacing: -0.05rem;
}

h3,
.h3 {
  letter-spacing: -0.0375rem;
}

h4,
.h4 {
  letter-spacing: -0.025rem;
}

h5,
.h5 {
  letter-spacing: -0.0125rem;
}

.display-1 {
  letter-spacing: -0.125rem;
}

.display-2 {
  letter-spacing: -0.1125rem;
}

.display-3 {
  letter-spacing: -0.0875rem;
}

.display-4 {
  letter-spacing: -0.0625rem;
}

.display-5 {
  letter-spacing: -0.05rem;
}

.display-6 {
  letter-spacing: -0.025rem;
}

.lead {
  font-size: calc(1.1rem + 0.3vw);
  font-weight: 300;
  letter-spacing: -0.01875rem;
  line-height: 1.5;

  @include media-breakpoint-up(xl) {
    font-size: 1.5rem;
  }
}

.lead-lg {
  font-size: calc(1.25rem + 0.3vw);
  font-weight: 300;
  letter-spacing: -0.025rem;
  line-height: 1.5;

  @include media-breakpoint-up(xl) {
    font-size: 2rem;
  }
}

.text-standard {
  h1 {
    margin-bottom: 2.5rem;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 2rem;
  }

  a {
    border-bottom: 0.0625rem solid rgba($secondary-lighter, 0.25);
    display: inline;
    padding-bottom: 0;
    position: relative;
    transition: border-bottom-color $transition-base, color $transition-base;

    &:hover {
      border-bottom-color: $primary-dark;
    }
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.text-gradient-primary {
  background-clip: text;
  background-image: $gradient-primary;
  -webkit-text-fill-color: transparent;
}

// Layouts
.section {
  margin-bottom: 4rem;
  position: relative;

  @include media-breakpoint-up(sm) {
    margin-bottom: 5rem;
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 6rem;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 7rem;
  }

  @include media-breakpoint-up(xl) {
    margin-bottom: 8rem;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

// Visiblity
.text-visually-hidden {
  clip: rect(0.0625rem, 0.0625rem, 0.0625rem, 0.0625rem);
  height: 0.0625rem;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 0.0625rem;

  &:focus {
    clip: auto;
    height: auto;
    overflow: auto;
    position: absolute;
    width: auto;
  }
}

// Anchors
.skip-link-destination {
  height: 0;
  left: 0;
  position: absolute;
  top: -4rem;
  width: 0;

  @include media-breakpoint-up(sm) {
    top: -4.5rem;
  }

  @include media-breakpoint-up(md) {
    top: -5.5rem;
  }

  @include media-breakpoint-up(lg) {
    top: -6.6rem;
  }
}

// Lazy Loading Classes
.img-lazy-load {
  &::before {
    background: $gradient-secondary;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0s linear 0.4s;
    width: 100%;
    z-index: -1;
  }

  img {
    opacity: 1;
    transform: scale(1);
    transition: opacity $transition-base, transform $transition-base;
  }

  & ~ div {
    opacity: 1;
    transform: scale(1) translateY(0);
    transition: opacity $transition-base, transform $transition-base;
  }

  &.is-loading {
    &::before {
      opacity: 1;
    }

    img {
      opacity: 0;
      transform: scale(1.1);
      transition: none;
    }

    & ~ div {
      opacity: 0;
      transform: scale(0.85) translateY(-10%);
      transition: none;
    }
  }
}
